body {
    width: 60vw;
    padding: 0;
    margin: 0;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    /*background-image: url(event_flyer.jpg);*/
    
}
hr {
    width: 90%;
}

section {
    width: 100%;
}